# Environment variables
.env
.env.local
.env.development
.env.production

# Deno
.deno
/deno.d.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*

# Database
*.sqlite
*.sqlite3

# Temporary files
tmp/
temp/